
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    font-family:Helvetica;
    font-weight:100;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.3em;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#content{
    padding-left:40%;
    position:relative;
    margin-top:10%;
}

#left-half, #right-half{
    display:inline-block;
}

#left-half{
    margin-right:0;
}
#right-half{
    text-align: left;
    margin-left:0;
}

.title, .name{
     font-family:Helvetica;
     font-weight:700;
     line-height: 50%;
}


#apostrophe{
    display:none;
    color:red;
    font-size:1.2em;
}

#menu{
    position:absolute;
    list-style: none;
    margin-top:0;
    color:red;
    font-family: Helvetica Neue;
    font-size:1.3em;
}

ul, li{
    list-style-position:inside;
    margin:0;
    padding:0;
    cursor: pointer;
}

#about{
    padding-top:50%;
}