
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    font-family:Helvetica;
    font-weight:100;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5%;
}

.sidenav a {
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

.closebtn {
    position: absolute;
    right:50px;
    font-size:1.2em;
}

#hamburger{
    float:right;
}

#page-content{
    padding-left:35%;
    position:relative;
    margin-top:10%;
}

@media screen and (max-width:767px){
    #page-content{
        padding-left:5%;
    }
}

#left-half, #right-half{
    display:inline-block;
}

#left-half{
    margin-right:0;
}

#right-half{
    text-align: left;
    margin-left:0;
}

.title, .name{
     font-family:Helvetica;
     font-weight:700;
     line-height: 50%;
}


#apostrophe{
    display:none;
    color:red;
    font-size:1.2em;
}

#menu, #mobile-menu{
    position:absolute;
    list-style: none;
    margin-top:0;
    color:red;
    font-family: Helvetica Neue;
    font-size:1.3em;
}


#projects-category-title{
    text-align: center;
}

.projects-list{
    padding:2% 5% 2% 5%;
}

.projects-list ul li {
     list-style: none;
}

.projects-item{
    border-bottom:1px dotted;
    list-style-type: none;
    padding:2% 5% 2% 5%;
}

.projects-item img{
    width:100%;
    margin-right:2%;
}

@media screen and (max-width:1023px){
    .projects-item img{
        max-width:45%;
        float:left;
    }
}

.project-title a{
    color:black;
    font-weight:800;
}

.project-title a:hover{
    color:red;
}

#menu {
    list-style-position:inside;
    margin:0;
    padding:0;
    cursor: pointer;
}

#about{
    padding-top:50%;
}


.brand{
    font-size: 1.5em;
}

.brand a{
    color:#ccc;
}

.brand a:hover{
    color:red;
    text-decoration: none;
}

#pipe{
    font-size: 0.5em;
    vertical-align: middle;
    padding:5px;
}

#left-half-brand, #right-half-brand{
    display:inline-block;
}

#left-half-brand{
   vertical-align: top;
}

#right-half-brand{
    text-align: left;
    margin-left:1px;
    line-height: 95%;
    padding-top:6px;
}

#red-letters, #photo-word{
    color:red;
}

#photostory-title{
    border-bottom: .5px solid;
    padding-bottom: 2px;
}


.brand, #photostory-title, #story-description{
    color:black;
}

.bx-viewport img{
    margin-left:-45px;
}


/*.bx-wrapper, .bx-viewport {
    border:5px solid black!important;
    box-shadow: none;
    -webkit-box-shadow:none!important;
}



.bx-viewport li{
    background:black;
    
}*/

#arrow-section{
    text-align: center;
}

#slider-prev{
    margin-right:5%;
}

/*Hidden bio section that appears when user clicks About*/
#hidden-bio{
    margin-top:5%;
    padding:2%;
}

#iso-pic{
    height:400px;
}

#look-like{
    margin-top:20%;
}

#bio-content, #category-icons{
  padding-top:5%;
}

#bio-text{
    font-size:1.2em;
    font-family: Helvetica Neue;
    font-weight: 200;
    padding-top:2%;
}

#curvy-arrow{
    max-width:20%;
}

#mortarboard{
    padding:1% 1% 3% 1%;
}

#wrench-pencil, #mail{
    padding:3%;
}

#category-icons, #category-icons-mobile{
    text-align: center;
}

#category-icons row{
    float:left;
}
    
#category-icons i:hover, #wrench-pencil:hover {
    cursor:pointer;
}

#wrench-pencil{
    width:80px;
}

#hidden-skills h4{
    font-weight:bold;
}

#hidden-edu h5, #hidden-skills h5{
    font-family: Helvetica Neue;
    font-weight: 200;
}

#contact-links i{
    color:black;
}

#contact-links a{
    color:red;
}

#category-icons-mobile{
    display:none;
}

@media screen and (max-width:767px){
    #hidden-bio{
        padding:1%;
    }
    
    #iso-pic{
        height:auto;
        width:80%;
        margin-left:10%;
    }
    
    #look-like{
        display:none;
    }
    
    #category-icons{
        display:none;
    }
    
    #category-icons-mobile{
        display:inline;
    }
    
    #wrench-pencil-mobile{
        padding-top:5%;
        width:40px;
    }
}

