.no-js #loader { display: none;  }

.js #loader { display: block; position: absolute; left: 100px; top: 0; }

.loader-wheel {
    position:fixed;
    top:40%;
    left:45%;
    border: 2px solid #f3f3f3; /* Light grey */
    border-top: 2px solid red; /* red */
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (max-width: 1023px){
    .loader-wheel{
        display:block;
    }
}

@media screen and (min-width: 1024px){
    .loader-wheel{
        display:none;
    }
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    font-family:Helvetica;
    font-weight:100;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0%;
}

.sidenav a {
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.offcanvas a:focus{
    color: #f1f1f1;
}


#top-closebtn {
    position: fixed;
    float:left;
    left:15px;
    top:7px;
    font-size:1.4em;
    font-weight: 400;
    color:red;
}

#hamburger{
    float:right;
    font-size: 2em;
}

#page-content{
    padding-left:37%;
    position:relative;
    margin-top:10%;
}

@media screen and (max-width:767px){
    #page-content{
        padding-left:5%;
    }
    #top-closebtn{
        font-size: 2em;
    }
    #desktop-back{
        opacity: 0;
    }
}

@media screen and (min-width:768px) and (max-width:1023px){
    #page-content{
        padding-left:30%;
    }
}

#left-half, #right-half{
    display:inline-block;
}

#left-half{
    margin-right:0;
}

#left-half a{
    color:black;
    text-decoration: none;
}

#left-half a:hover{
    color:red;
}

#right-half{
    text-align: left;
    margin-left:-5px;
}

.title, .name, #projects-category-title{
     font-family: 'Helvetica', san-serif;
     font-weight: 700;
     line-height: 50%;
}



#apostrophe{
    display:none;
    color:red;
    font-size:1.2em;
}

#menu, #mobile-menu{
    position:absolute;
    list-style: none;
    margin-top:0;
    color:red;
    font-family: Helvetica Neue;
    font-weight: 200;
    font-size:1.3em;
}

#menu a, #mobile-menu a{
    color:red;
    text-decoration: none;
}

#menu a:hover, #mobile-menu a:hover{
    color:black;
}

#mobile-menu{
    margin-top:10%;
}

#mobile-menu li{
    padding-bottom:5%;
}

#projects-header{
     position:fixed;
     width:100%;
     height:auto;
     background:white;
     z-index:100;
}


#projects-header h3{
    text-align: center;
    padding-bottom: 2%;
}

#top-closebtn{
    margin-bottom: 2%;
}

.projects-list{
    margin-top:5%;
    padding:2% 10% 2% 10%;
}

.projects-list ul li {
     list-style: none;
}

.projects-item{
    list-style-type: none;
    padding:2% 5% 2% 5%;
}

.projects-item img{
    width:100%;
    margin-right:2%;
}

@media screen and (max-width:1023px){
.projects-item img{
        max-width:45%;
        float:left;
    }
}

.project-title a{
    color:black;
    font-weight:800;
}

.project-title a:hover{
    color:red;
}

#menu {
    list-style-position:inside;
    margin:0;
    padding:0;
    cursor: pointer;
}

#about{
    padding-top:50%;
}


.brand{
    font-size: 1.5em;
}

.brand a{
    color:#ccc;
}

.brand a:hover{
    color:red;
    text-decoration: none;
}

#pipe{
    font-size: 0.5em;
    vertical-align: middle;
    padding:5px;
}

#left-half-brand, #right-half-brand{
    display:inline-block;
}

#left-half-brand{
   vertical-align: top;
}

#right-half-brand{
    text-align: left;
    margin-left:1px;
    line-height: 95%;
    padding-top:6px;
}

#red-letters, #photo-word{
    color:red;
}

#photostory-title{
    border-bottom: .5px solid;
    padding-bottom: 2px;
}


.brand, #photostory-title, #story-description{
    color:black;
}

.bx-viewport img{
    margin-left:-45px;
}


/*.bx-wrapper, .bx-viewport {
    border:5px solid black!important;
    box-shadow: none;
    -webkit-box-shadow:none!important;
}



.bx-viewport li{
    background:black;
    
}*/

#arrow-section{
    text-align: center;
}

#slider-prev{
    margin-right:5%;
}

/*Hidden bio section that appears when user clicks About*/
#hidden-bio{
    margin-top:2%;
    padding:2%;
}

#iso-pic{
    height:400px;
}

#look-like{
    margin-top:35%;
}

#bio-content, #category-icons{
  padding-top:5%;
}

#bio-text{
    font-size:1.2em;
    font-family: Helvetica Neue;
    font-weight: 200;
    padding-top:2%;
}

#curvy-arrow{
    max-width:25%;
    margin-top:-5%;
}

#mortarboard{
    padding:1% 1% 3% 1%;
}

#wrench-pencil, #mail{
    padding:3%;
}

#category-icons, #category-icons-mobile{
    text-align: center;
}

#category-icons row{
    float:left;
}
    
#category-icons i:hover, #wrench-pencil:hover {
    cursor:pointer;
}

#wrench-pencil{
    width:80px;
}



#hidden-skills h4, #hidden-skills-mobile h4{
    font-weight:bold;
}

#hidden-edu h5, #hidden-skills h5, #hidden-edu-mobile h5, #hidden-skills-mobile h5, #desktop-back{
    font-family: Helvetica Neue;
    font-weight: 300;
}

#hidden-edu h5, #hidden-skills h5{
    line-height: 125%;
}

#hidden-skills-mobile{
    padding-right:2%;
}

#hidden-edu-mobile h5, #hidden-skills-mobile h5{
    line-height: 150%;
}

#contact-links i{
    color:black;
}

#contact-links a{
    color:red;
}

#category-icons-mobile{
    display:none;
}

@media screen and (max-width:1023px){
    .closebtn{
        font-size: 1em;
        right:15px;
        top:5px;
    }
    
    #i{
        letter-spacing: 0px;
    }
   
    #menu li{
        padding-bottom:5%;
    }

    #projects-header{
      border-bottom: 1px solid #333;
    }
    
   .projects-list{
      margin-top:35%;
      padding:2% 5% 2% 5%;
    }
    
    .projects-item{
        border-bottom:1px dotted;
    }
    
    #hidden-bio{
        padding:1%;
    }
    
    #iso-pic{
        height:auto;
        width:80%;
        margin-left:10%;
    }
    
    #look-like{
        display:none;
    }
    
    #category-icons{
        display:none;
    }
    
    #category-icons-mobile{
        display:inline;
    }
    
    #wrench-pencil-mobile{
        padding-top:5%;
        width:40px;
    }
    
    #contact-links{
        line-height: 55%;
        margin-left:12%;
    }
}

/*iPhone 5 brand*/
@media screen and (max-width:374px){
    .name, .title{
        font-size:1.5em;
    }

}

/*iPad portait*/
@media screen and (max-width:1023px){
  #iso-pic{
    width:50%;
    margin-left: 22%;
  }
  .closebtn{
    right:25px;
    top:15px;
  }
  .projects-list{
    padding:2% 7% 2% 7%;
  }
}

@media screen and (min-width:1024px) and (max-width:1260px){
    #bio-pic{
        width:42%;
    }
    #iso-pic{
        max-width: 100%;
    }
    #bio-content{
        margin-left:-4%;
    }
    #category-icons{
        margin-left:-5%;
    }
}
