
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    font-family:Helvetica;
    font-weight:100;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5%;
}

.sidenav a {
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
}

.offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

.closebtn {
    position: absolute;
    right:50px;
    font-size:1.2em;
    color:red;
}

#page-content{
    padding-left:40%;
    position:relative;
    margin-top:10%;
}

@media screen and (max-width:767px){
    #page-content{
        padding-left:5%;
    }
}

#left-half, #right-half{
    display:inline-block;
}

#left-half{
    margin-right:0;
}
#right-half{
    text-align: left;
    margin-left:0;
}

.title, .name{
     font-family:Helvetica;
     font-weight:700;
     line-height: 50%;
}


#apostrophe{
    display:none;
    color:red;
    font-size:1.2em;
}

#menu{
    position:absolute;
    list-style: none;
    margin-top:0;
    color:red;
    font-family: Helvetica Neue;
    font-size:1.3em;
}

#projects-category-title{
    text-align: center;
}

.projects-list{
    padding:2% 5% 2% 5%;
}

.projects-list ul li {
     list-style: none;
}

.projects-item{
    border-bottom:1px dotted;
    list-style-type: none;
    padding:2% 5% 2% 5%;
}

.projects-item img{
    width:100%;
    margin-right:2%;
}

@media screen and (max-width:1023px){
    .projects-item img{
        max-width:45%;
        float:left;
    }
}

.project-title a{
    color:black;
    font-weight:800;
}

.project-title a:hover{
    color:red;
}

#menu {
    list-style-position:inside;
    margin:0;
    padding:0;
    cursor: pointer;
}

#about{
    padding-top:50%;
}