<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Scott Geier: Interactive Multimedia</title>
        <!--Boostrap CSS CDN-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css" />
 </head>
 
 <body ng-app="myApp" ng-controller="BaseController as base">

   <audio id="ding">
    <source src="ding.wav" type="audio/wav">
   </audio>
   
   <audio id="bubble">
    <source src="bubble.wav" type="audio/wav">
   </audio>
    
   <audio id="typewriter">
    <source src="typewriter.wav" type="audio/wav">
   </audio>
   
<div class="container-fluid" ng-controller="ProjectsController as projCtrl">
 <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">back ></a>
  <h3 id="projects-category-title"></h3>
  <ul class="projects-list">
   <li class="projects-item" ng-repeat="project in projCtrl.projects | filter:selectedCategory">
   <div class="row">
    <div class="col-md-4">
     <a href="{{project.link}}" target="_blank"><img src="{{project.thumbnail}}"/></a>
    </div>
    <div class="col-md-8">
     <h4 class="project-title"><a href="{{project.link}}" target="_blank">{{project.name}}</a></h4>
     <p><strong>Story:</strong> {{project.description}}</p>
     <p><strong>Specs:</strong> {{project.skills}}</p>
    </div>
   </div>
   </li>
  </ul>
</div>
        

 <div class="row">
  <div class="col-xs-12">
   <div id="page-content">
    <div id="left-half">
     <h3 class="name">scott geier</h3>
     <h3 class="title">interactive mult</h3>
    </div>
    <div id="right-half">
    <h3 class="title"><span id="i">i</span><span id="apostrophe">'</span><span id="m">m</span>edia</h3>
        <ul id="menu">
            <li class="menu-item" id="web" ng-click="selectedCategory = {category:'web'}" onclick="openNav();"></li>
               <li class="menu-item" id="writing" ng-click="selectedCategory = {category:'writing'}" onclick="openNav();"></li>
            <li class="menu-item" id="graphics" ng-click="selectedCategory = {category:'graphics'}" onclick="openNav();"></li>
            <li class="menu-item" id="audio" ng-click="selectedCategory = {category:'audio'}"onclick="openNav();"></li>
            <li class="menu-item" id="photo" onclick="openNav();"></li>
            <li class="menu-item" id="video" onclick="openNav();"></li>
            <li class="menu-item" id="blank" onclick="openNav();"></li>
            <li class="menu-item" id="about"></li>
        </ul>
   </div>
  </div>
 </div>
</div>
</div>

 <script src="http://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"> </script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/projects.js"></script>
  <script src="/js/scripts.js"></script>
  <script>
 //Change the Category headline based on the chosen menu item (this is easier than trying to do it with Angular and JSON)//
   $('.menu-item').click(function() {
     var target = $(this).attr('id');
     console.log(target);
     if (target == "web") {
        document.getElementById("projects-category-title").innerHTML = "Web Development";
     }else if (target == "graphics") {
        document.getElementById("projects-category-title").innerHTML = "Graphic Design";
     }else if (target == "audio") {
        document.getElementById("projects-category-title").innerHTML = "Audio Projects";
     }else if (target == "photo") {
        document.getElementById("projects-category-title").innerHTML = "Photojournalism";
     }else if (target == "video") {
        document.getElementById("projects-category-title").innerHTML = "Videography";
     }else if (target == "writing") {
        document.getElementById("projects-category-title").innerHTML = "Written Work";
     }
   });
//Open each Projects list on click//
    function openNav() {
    console.log("menu opened");
    document.getElementById("mySidenav").style.width = "100%";
    document.getElementById("page-content").style.opacity = "0.1";
    }

   function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("page-content").style.opacity = "1";
    }
  </script>
 </body>
</html>